# Node
node_modules/
npm-debug.log
.npm

# Capacitor
android/app/engelsizai-release.jks
android/gradle.properties
ios/

# Keystore
*.jks
*.keystore
*.base64

# Build
.out/
dist/
.next/
build/

# OS
.DS_Store
Thumbs.db
